body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    border-bottom: 1px solid black;
    position: relative;
}
.navbar a {
    font-size: 20px;
    padding: 10px;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
}
.navbar a:hover {
    background-color: rgb(180, 178, 178);
    color: blanchedalmond;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
/* responsive */
@media screen and (max-width: 990px) {
    .navbar a:hover {
        background-color: transparent;
    }
}
.imgProfileAcc {
    width: 150px;
}
.titreCompetence {
    margin: 120px 0 20px 0;
}

/* Contact */
.titreContact {
    padding: 40px 0 50px 0;
    /* fusion */
    margin-top: 100px;
}

/* setting box portfolio */
.card {
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
}
.service {
    /* margin-right: 10px; */
    box-shadow: 5px 5px 15px rgb(180, 178, 178);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.service:hover {
    box-shadow: 10px 10px 10px rgb(180, 178, 178);
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

/**** Section About ****/
#about{
    width: 100%;
    height: 90vh;
}

/**** Scroll top ****/
.scrolltop {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    color: black;
    background: #fff;
    border-radius: 0.4rem;
    z-index: 100;
    transition: 0.4s;
    visibility: hidden;
}

.scrolltop:hover {
    color: #fff;
    background-color: #000000b0;
}

.scrolltop__icon {
    font-size: 40px;
}

/* Show scrolltop */
.active {
    visibility: visible;
}
